################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlipDotServer/obj
/packages
/backup
/.vs/
/FlipDotServer/bin/
