################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/*/bin/
/*/obj/
/*/*.user
/debug.log
/*/.vs/
/.vs/
/usb/UsbTests/bin
/usb/UsbTests/bin
/usb/UsbTests/bin/x64/Debug/AppX/Assets/LockScreenLogo.scale-200.png
